.application {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.monkey {
  margin: 0 auto;
}

.app_title, .app_message {
  text-align: center;
}

.app_menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
